.modal-container {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    box-shadow: 0 2em 2em 2em #141414;

    &.slide-in {
        animation: slide-down-modal 0.5s ease-in-out forwards;
    }

    &.slide-out {
        animation: slide-out-modal 0.5s ease-in-out forwards;
    }

    &::after {
        position: absolute;
        width: 100%;
    }

    .modal {
        position: relative;
        min-height: 300px;
        margin: 0 3em 0 3em;
        border-radius: 0.2em;

        .close-modal-button {
            cursor: pointer;
            color: #aaa;
            position: absolute;
            right: -2em;
            top: -2em;
            background-color: transparent;
            border: none;
            font-size: 1em;
            font-weight: bold;
            padding: 0.25em;
        }
    }
}

@keyframes slide-down-modal {
    from {
        bottom: calc(100% + 10em);
    }
    to {
        bottom: 0%;
    }
}

@keyframes slide-out-modal {
    from {
        bottom: 0;
    }
    to {
        bottom: calc(100% + 10em);
    }
}
